WEEK_1/2_DOCKER_SQL/yellow_tripdata_2021-01.csv.gz.2
WEEK_2/yellow_tripdata_2021-01.csv.gz
WEEK_2/02_gcp/data/yellow/yellow_tripdata_2021-01.parquet
WEEK_2/02_gcp/data/yellow/yellow_tripdata_2021-02.parquet
WEEK_2/02_gcp/data/yellow/yellow_tripdata_2021-03.parquet
WEEK_2/02_gcp/data/yellow/yellow_tripdata_2021-04.parquet
WEEK_3/data/yellow/yellow_tripdata_2019-02.csv
WEEK_3/data/yellow/yellow_tripdata_2019-03.csv
WEEK_3/data/yellow/yellow_tripdata_2019-04.csv
WEEK_3/data/yellow/yellow_tripdata_2019-05.csv
WEEK_3/data/yellow/yellow_tripdata_2019-06.csv
WEEK_1/2_DOCKER_SQL/green_tripdata_2021-01.csv.gz
WEEK_3/data/yellow/yellow_tripdata_2019-07.csv
WEEK_3/data/yellow/yellow_tripdata_2019-08.csv
WEEK_3/data/yellow/yellow_tripdata_2019-09.csv
WEEK_3/data/yellow/yellow_tripdata_2019-10.csv
WEEK_3/data/yellow/yellow_tripdata_2019-11.csv
WEEK_3/data/yellow/yellow_tripdata_2019-12.csv
